@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

         /*Header and Banner Style  */

.header{
    background-image: url(./images/banner/banner3.png);
    height: 60vh;
    background-size: cover;
}

.header-description{
    text-align: right;
   padding-top: 180px;
    padding-right: 200px;
}

.header-title{
    color: white;
    font-weight: 800;
    font-size: 45px;
    
}

.description{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 14px;
}

.btn-primary{
    padding: 15px;
    border: none;
    color:  #005FAC ;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;

}